<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset-UTF-8" />
    <title>Responsive.gs Example</title>
    <link rel="stylesheet" media="all" href="gridcss/style.css" />
</head>
<body>
    <div class="container row">
        <header role="banner" class="row">
            Header
        </header>
        <main rolle="main" class="row gutters">
            <articole class="col span_4">
                Content
            </articole>
            <articole class="col span_4">
                Content 2
            </articole>
            <aside role="complimentary" class="col span_4">
                Sidebar
            </aside>
        </main>
        <footer role="contentinfo" class="rou">
            Footer
        </footer>
    </div>
</body>
</html>